.product-detail-container h1 {
  margin-bottom: 0px;
  text-align: left;
  margin-left: 50px;
}

.detail-product-image img {
  width: 100%;
}
.detail-product-image {
  width: 30%;
  padding: 70px;
}
.product-details {
  width: 70%;
  margin: auto;
  padding: 70px;
}
