#category-container {
  display: flex;
  justify-content: space-evenly;
}
.category {
  padding: 20px 65px;
  background-color: #c2d3f0;
  cursor: pointer;
}

.category.selected {
  background-color: #5573a6;
}

@media only screen and (max-width: 1000px) {
  #category-container {
    overflow: scroll;
  }
}

/* FOR MOBILE */
@media only screen and (max-width: 600px) {
  #category-container {
    flex-direction: column;
  }
}
